/* colors
    Golden Rod:        #D5B740
    Sienna:            #8A6822
    Beige:             #E9E7CE
    Dark Olive Green:  #7F664A
    Dark Khaki:        #ABB26D
*/
body {
  font-family: "Gill Sans", "Helvetica", "Arial", "sans-serif";
}

/* navbar section */
.navbar {
  background-color:#E9E7CE;  
  font-family: Gill Sans;
}
.navbar-toggler {
  margin-left: 10%;
}

/* body section */
.common-image {
  width: 100%;
  opacity: 0.8;
}

.btn {
  background-color: #E9E7CE; 
  border-color: #7F664A; 
  border-radius: 3px; 
  color: #7F664A;
}

a .page-links {
  text-decoration: none;
}
.btn:hover{
  background-color: #7F664A; 
}

li {
  text-decoration: none;
}

/* footer section */
.site-footer{
  padding: 5em 0 ;
  background-color: #f9f2eb;
  font-size: 14px;
  color: green;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.site-footer a {
  font-size: 20px;
  color: #1fd655;
  border-bottom: 1px solid  transparent;
  text-decoration: none;
}

.site-footer a:hover {
  color: #000;
  border-bottom: 1px solid rgba(255,255,255,0);
}

.site-footer h2 {
  font-size: 22px;
  margin-bottom: 28px;
  letter-spacing: 0.5em;
  color: #fff;
}

.site-footer .footer-link li {
  line-height: 2;
  margin-bottom: 15px;
}

.navbar-toggler {
  outline:none;
}

.logo1 {
  font-family:'Garamond', 'Times New Roman', 'Baskerville', 'Crimson Bold';
  font-size: 50px;
  color: black;
  padding-bottom: 10px 0 0 0;
  margin-bottom: 0;
}

.logo2 {
  font-family: 'Calibri', 'Arial', 'Verdana', 'Tahoma';
  font-size: 24px;
  padding-top: 0;
  margin-top: 0;
  color: black;
}

.footer-phone {
  font-size: 24px;
  color: black;
}

.service-area {
  font-size: 18px;
  color: black;
}