/* colors
    caramel:        #65350f
    
*/
body {
  font-family: "Gill Sans", "Helvetica", "Arial", "sans-serif";
}

/* navbar section */
.navbar {
  background-color:#E9E7CE;  
  font-family: Gill Sans;
}
.navbar-toggler {
  margin-left: 10%;
}



#header-phone {
  font-size: 1.5em;
}

.btn {
  background-color: #E9E7CE; 
  border-color: #7F664A; 
  border-radius: 3px; 
  color: #7F664A;
}

a .page-links {
  text-decoration: none;
}
.btn:hover{
  background-color: #7F664A; 
}

li {
  text-decoration: none;
}
/* end header section */

/* body section */
.common-image {
  width: 100%;
  opacity: 0.8;
}
/* end body section */

/* home page */
.home-header {
  font-size: 2em;
  font-family: arial;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-paragraph {
  text-wrap: wrap;
  font-size: 1.2em;
  padding: 10px 15px 10px 0;
  font-family:'Times New Roman', Times, serif;
}

.home-2 {
  background-color: #e6d9cb; 
}

.home-container {
  width: 100%;
}

.tri-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 18rem;
  background-color: #e6d9cb;
  border-width: 0;
}

.card-body {
  background-color: #e6d9cb;
  border-width:0em;
}

.business-name {
  color:#65350f;
  font-family: 'garamond';
  font-size: 1.2em;
}

/* end home page */

/* footer section */
.site-footer {
  padding: 5em 0 ;
  background-color: #f9f2eb;
  font-size: 14px;
  color:black;
}

.site-footer p:last-child {
  margin-bottom: 0;
}

.site-footer a {
  font-size: 20px;
  color: #1fd655;
  border-bottom: 1px solid  transparent;
  text-decoration: none;
}

.site-footer a:hover {
  color: #000;
  border-bottom: 1px solid rgba(255,255,255,0);
}

.site-footer h2 {
  font-size: 22px;
  margin-bottom: 28px;
  letter-spacing: 0.5em;
  color: #fff;
}

.site-footer .footer-link li {
  line-height: 2;
  margin-bottom: 15px;
  text-align: left;
}

.navbar-toggler {
  outline:none;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-phone {
  font-size: 30px;
  color: black;
}

.service-area {
  font-size: 18px;
  color: black;
  width: 80%;
}
