/* colors
     logo:      #65350f (caramel)
     navbar bg: #E9E7CE
     btn hover: #7F664A
     footer bg: #f9f2eb
     form bg:   #faf8f5
*/

/* navbar section */
.navbar {
  background-color:#E9E7CE;  
  font-family: Gill Sans;
}

.navbar-toggler {
  margin-left: 10%;
}

#header-phone {
  font-size: 1.5em;
}

/* end header section */
/* ------------------ */
/* body section */

body {
  font-family: "Gill Sans", "Helvetica", "Arial", "sans-serif";
}

.common-image {
  width: 100%;
  opacity: 0.8;
}

/* end body section */
/* ------------------ */
/* home page */

.home-header {
  font-size: 2em;
  font-family: arial;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-paragraph {
  text-wrap: wrap;
  font-size: 1.2em;
  padding: 10px 15px 10px 0;
  font-family:'Times New Roman', Times, serif;
}

.home-section-2 {
  background-color: #e6d9cb; 
}

.section-2-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 18rem;
  background-color: #e6d9cb;
  border-width: 0;
}

.card-body {
  background-color: #e6d9cb;
  border-width:0em;
}

.business-name {
  color:#65350f;
  font-family: 'garamond';
  font-size: 1.2em;
}

/* end home page */
/* ------------------ */
/* estimate page */

h1:first-child{
  font-family: 'Calibri';
}
.estimate-form {
  border-radius:1%;
  background-color: #faf8f5;
}

.estimate-cartoon-image {
  .home-image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.estimate-image {
  width: 100%;
  opacity: 0.7;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered p:first-child {
  font-size: 4em;
  font-family: 'Calibri';
}

.centered p:last-child {
  font-size: 7em;
}

.center {
  position: relative;
  width: 100%;
  text-align: center;
}
/* end estimate page */
/* ------------------ */
/* footer section */

.site-footer {
  padding: 5em 0 ;
  background-color: #f9f2eb;
  font-size: 14px;
  color:black;
}

.site-footer p:last-child {
  margin-bottom: 0px;
}

.site-footer a {
  font-size: 20px;
  color: #1fd655;
  border-bottom: 1px solid  transparent;
  text-decoration: none;
}

.site-footer a:hover {
  color: #000;
  border-bottom: 1px solid rgba(255,255,255,0);
}

.site-footer h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #000;
}

.site-footer .footer-link li {
  line-height: 2;
  margin-bottom: 15px;
  text-align: left;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-phone {
  font-size: 30px;
  color: black;
}

.service-area {
  font-size: 18px;
  color: black;
  width: 80%;
}

/* end footer section */
