/* colors
     logo:      #65350f (caramel)
     navbar bg: #E9E7CE
     btn hover: #7F664A
     footer bg: #f9f2eb
     form bg:   #faf8f5
*/

/* navbar section */
.navbar {
  background-color:#E9E7CE;  
  font-family: 'Calibri';
}

.navbar-toggler {
  margin-left: 10%;
}

#header-phone {
  font-size: 1.5vw;
}

.navbar .navbar-collapse .nav-link {
  font-family: 'Calibri';
  font-size: 1.3vw;
  color: #65350f; 
}

.navbar .navbar-collapse a:hover {
  color: gray; 
}

.navbar .navbar-phone-estimate a:hover{
  color: gray;
}

/* end header section */
/* ------------------ */
/* body section */

body {
  font-family: "Gill Sans", "Helvetica", "Arial", "sans-serif";
}

.common-image {
  width: 100%;
  opacity: 0.8;
}

.page-header {
  background-color: #faf8f5;
}

.page-header p {
  font-family: 'Calibri';
  font-size: 2.7vw;
}

/* end body section */
/* ------------------ */
/* home page */

.home-header {
  font-size: 2em;
  font-family: arial;
}

.home-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image img {
  width: 100%;
  height: auto;
}

.home-text p:first-child {
  /**text-wrap: wrap;
  font-size: 1.2em;
  padding: 10px 15px 10px 15;
  font-family:'Times New Roman', Times, serif;**/
  font-family:'Times New Roman';
  font-size: 1.5vw;
}

.home-section-2 {
  background-color: #e6d9cb; 
}

.section-2-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 18rem;
  background-color: #e6d9cb;
  border-width: 0;
}

.card-body {
  background-color: #e6d9cb;
  border-width:0em;
}

.section-3-text h1 {
  font-size: 2.2vw;
}

.section-3-text p:nth-child(2) {
  font-size: 1.5vw;
}

.section-3-text p:nth-child(3) {
  font-size: 3vw;
}

.business-name {
  color:#65350f;
  font-family: 'garamond';
  font-size: 1.2em;
}

/* end home page */
/* ------------------ */
/* estimate page */

h1:first-child{
  font-family: 'Calibri';
}
.estimate-form {
  border-radius:1%;
  background-color: #faf8f5;
}

.estimate-cartoon-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:auto;
}

.estimate-image {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered p:first-child {
  font-size: 3.5vw;
  font-family: 'Calibri';
}

.centered p:last-child {
  font-size: 5.5vw;
}

.center {
  position: relative;
  width: 100%;
  text-align: center;
}

.form-control::placeholder {
  color: lightgray;
}

/* end estimate page */
/* ------------------ */
/* services page */

.services-button {
  background-color: #65350f; /* #f9f2eb; */
}

.test a {
  text-decoration: none;
  color: #f9f2eb;
  font-size: 2vw;
}

.test a:hover {
  opacity: 0.9;
}

.services-text p {
  font-family: 'Calibri';
  font-size: 1.4vw;
}

.service-list {
  font-family: 'Calibri';
}

.service-list ul li {
  margin-bottom: 3px;
  font-size: 1.2vw;
}

.service-map {
  border: 0;
}

.service-area-list {
  font-family: 'Calibri';
}




/* end services page */
/* ------------------ */
/* about page */

.about-text p:nth-child(-n+2) {
  font-family:'Times New Roman';
  font-size: 1.5vw;
}

#image-roses {
  max-width: 100%;
  height: auto;
  /* height: 500px; */
  opacity: 0.9;
}

.about-text-2 p:nth-child(1) {
  font-family:'Times New Roman';
  font-size: 2.5vw;
  padding: 0;
  margin: 0;
}

.about-image {
  width: 100%;
  height: auto;
  opacity: 0.7;
}

.about-why-text p {
  font-family:'Times New Roman';
  font-size: 2.1vw;
}

.checklist {
  display: flex;
  justify-content: left;
  align-items: left;
  background-color: #faf8f5;
}


.checklist ul {
  font-family: sans-serif;
  list-style-type: none;
}

.checklist ul li {
  font-family: sans-serif;
  font-size: 1.2vw;
}

.why-choose {
  background-color: #faf8f5;;
}

.bullet {
  padding-right: 4px;
}


/* end about page */
/* ------------------ */
/* footer section */

.site-footer {
  padding: 5em 0 ;
  background-color: #f9f2eb;
  font-size: 14px;
  color:black;
}

.site-footer p:last-child {
  margin-bottom: 0px;
}

.site-footer a {
  font-size: 20px;
  color: #1fd655;
  border-bottom: 1px solid  transparent;
  text-decoration: none;
}

.site-footer a:hover {
  color: #000;
  border-bottom: 1px solid rgba(255,255,255,0);
}

.site-footer h3 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #000;
}

.site-footer .footer-link li {
  line-height: 2;
  margin-bottom: 15px;
  text-align: left;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-phone {
  font-size: 30px;
  color: black;
}

.service-area {
  font-size: 18px;
  color: black;
  width: 80%;
}

/* end footer section */
