{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row page-header  mx-0">
    <div class="col col-lg-2"></div>
    <div class="col-lg-8 py-2">
        <p>About <span class="business-name">Precise Detail</span></p>
    </div>
    <div class="col col-lg-2"></div>
</div><!-- row 1 -->

<div class="row my-5">
    <div class="col col-lg-1"></div>
    <div class="about-text col-lg-5 py-5">
        <p>Precise Detail offers professional cleaning services with over 30 years experience
            cleaning private residences. My name is Rochelle, owner of Precise Detail. In addition
            to my 30 plus years in residential housecleaning, I also have experience cleaning hospitals, offices,
            hotels, and nursing homes as well as doing move-outs and detailing out new construction homes for
            Parade of Homes. I have narrowed my focus to private residences in order to bring you the
            quality and attention to detail you expect from a professional.</p>
        <p>I work as an individual in order to keep costs down for my clients.  This also allows us to develop a 
            relationship and a bond of trust.  I have had multiple clients from 8 years to 20 years.</p>
    </div>

    <div class="col col-lg-1"></div>

    <div class="col col-lg-4 py-3 text-center">
        <img src="{% static 'precisedetail/images/pexels-lynda-sanchez-825238-2300713-red-roses.jpg' %}"
            id="image-roses" class="responsive rounded" alt="vase with red roses" />
    </div>

    <div class="col col-lg-1"></div>
</div><!-- row 2 -->

<div class="row my-5">
    <div class="col col-lg-2"></div>
    <div class="col col-lg-8 text-center">
        Placeholder
    </div>
    <div class="col col-lg-2"></div>
</div>

{% endblock %}