{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Section 1 -->
<div class="row text-center  my-5 pt-5">
    <p class="home-header"><strong>Serving the Colorado Springs area for over 30 years!</strong></p>
</div><!-- row 1 -->

<div class="row mb-5 pb-5">
    <div class="col col-lg-1"></div>
    <div class="home-image col col-md-4 mt-3 mb-2 me-2">
        <img src="{% static 'precisedetail/images/pexels-karolina-grabowska-4239130-cleaning-sink-faucet.jpg' %}" class="object-fit-lg-cover"
            width="500" style="opacity: 0.8;" alt="cleaning sink faucet" /><!-- static/images/pexels-karolina-grabowska-4239130-cleaning-sink-faucet.jpg -->
    </div><!-- column 1 -->

    <div class="home-text col col-lg-6 ms-3 mt-5 mb-5">
        <p>Precise Detail Residential Housecleaning has been providing professional
            housecleaning services in the Colorado Springs and Monument areas for over
            30 years. I have the experience to make your home fresh and clean. Precise Detail offers you personalized
            service at a frequency that will meet your scheduling and budgetary needs. Sit back, relax, and let Precise
            Detail handle the
            dirty work. Call or complete the form today to get a free estimate.</p>
    </div><!-- column 2 -->
    <div class="col col-lg-1"></div>

</div><!-- row 2 -->
<!-- end Section 1 -->

<!-- Section 2 -->
<div class="home-section-2 row text-center mt-5 pt-5">
    <p class="home-header mt-3"><strong>Let Precise Detail make your life easier</strong></p>
</div><!-- column 1 -->

<div class="home-section-2 row mb-5 py-5">

    <div class="col col-lg-2"></div>
    <div class="section-2-images col col-lg-2 mt-5 mb-5">
        <div class="card">
            <img class="card-img-top" src="{% static 'precisedetail/images/pexels-leeloothefirst-5408684_calendar2.jpg' %}"
                alt="writing on calendar"><!-- static/images/pexels-leeloothefirst-5408684_calendar2.jpg -->
            <div class="card-body text-center">
                <h5 class="card-title">Schedule</h5>
                <p class="card-text">Request an estimate, then set up a cleaning schedule.</p>
            </div>
        </div>
    </div><!-- column 2 -->

    <div class="col col-lg-1"></div>

    <div class="section-2-images col col-lg-2 mt-5 mb-5">
        <div class="card">
            <img class="card-img-top" src="{% static 'precisedetail/images/pexels-karolina-grabowska-4239032-cleaning-handle.jpg' %}"
                alt="Cleaning drawer drawer handle"><!-- static/images/pexels-karolina-grabowska-4239032-cleaning-handle.jpg -->
            <div class="card-body text-center">
                <h5 class="card-title">Clean</h5>
                <p class="card-text">I make your home sparkling clean.</p>
            </div>
        </div>
    </div><!-- column 4 -->

    <div class="col col-lg-1"></div>

    <div class="section-2-images col col-lg-2 mt-5 mb-5">
        <div class="card">
            <img class="card-img-top" src="{% static 'precisedetail/images/pexels-olly-914890_relax_woman_coffee.jpg' %}"
                alt="Woman relaxing with coffee"><!-- static/images/pexels-olly-914890_relax_woman_coffee.jpg -->
            <div class="card-body text-center">
                <h5 class="card-title">Enjoy</h5>
                <p class="card-text">Relax and enjoy your fresh, clean home!</p>
            </div>
        </div>
    </div><!-- column 6 -->

    <div class="col col-lg-2"></div>

</div><!-- row -->
<!-- end Section 2 -->

<!-- Section 3 -->
<div class="row my-5 py-5">
    <div class="section-3-text col col-lg-5 ms-5 mt-5 text-center">
        <h1 class="my-3">Call <span class="business-name">Precise Detail</span> Today!</h1>
        <p class="my-3">Your time is valuable. Let me do the work so you can spend time doing what is important to you.</p>
        <p class="mt-5"><strong>(719) 650-2629</strong></p>
        <div class="mt-5">
            <a class="body-btn btn  btn-outline-dark bg-body-secondary text-center" href="{% url 'estimate' %}"
                role="button" style="--bs-btn-padding-y: .75rem; --bs-btn-padding-x: .75rem;--bs-btn-font-size: 1.5rem;">Request an Estimate</a>  
        </div>
    </div><!-- column 1 -->

    <div class="home-image col col-lg-6 mt-3 mb-2">
        <img src="{% static 'precisedetail/images/pexels-pixabay-280232-large-kitchen.jpg' %}" class="object-fit-lg-cover" width="700"
            style="border-radius: 0%; opacity: 1.0" alt=" cleaning sink faucet" /><!-- static/images/pexels-pixabay-280232-large-kitchen.jpg -->
    </div><!-- column 2 -->

</div><!-- row -->

<!-- end Section 3 -->

{% endblock %}