{% extends 'base.html' %}


{% block content %} 

<div class="row text-center mt-5 mb-5">
    <p id="serving-statement"><strong>Serving the Colorado Springs area for over 30 years!</strong></p>
</div>
<div class="row mb-5">
    <div class="col col-md-5 mt-3 mb-2 second-image">
        <img src="static/images/pexels-karolina-grabowska-4239130-cleaning-sink-faucet.jpg" class="object-fit-lg-cover" width="500" alt="cleaning sink faucet" />
    </div>
    <div class="home-p col col-lg-7 mt-3 mb-5">
        <p class="fs-3" id="home-paragraph">Precise Detail Residential Housecleaning has been providing professional housecleaning services in the Colorado Springs and Monument areas for over 
        30 years. We have the experience to make your home fresh and clean.  Precise Detail offers you personalized service at a frequency that will meet your schedule and budgetary needs.  Sit back, relax, and  let Precise Detail handle the 
        dirty work.  Call today or complete the form today to get a free estimate.</p>
    </div>
</div>

{% endblock %}